NODE_ENV=development

PORT=3000

DATABASE_URL="postgresql://postgres:password@localhost:5432/dating_app"

REDIS_URL="redis://localhost:6379"

JWT_ACCESS_SECRET="CHANGE_THIS_TO_A_LONG_RANDOM_SECRET"
JWT_REFRESH_SECRET="CHANGE_THIS_TO_ANOTHER_LONG_RANDOM_SECRET"

ACCESS_TOKEN_EXPIRES="15m"
REFRESH_TOKEN_EXPIRES="30d"

STORAGE_ENDPOINT=""
STORAGE_BUCKET="ethiopian-dating-assets"
STORAGE_ACCESS_KEY=""
STORAGE_SECRET_KEY=""

VERIFICATION_PROVIDER="FAYDA"
PAYMENT_PROVIDER="CHAPA"

CORS_ORIGIN="http://localhost:3001"
CONVERSATION_UNLOCK_PRICE_ETB=50.00
OTP_SMS_MOCK_ENABLED=true
OTP_DEFAULT_CODE="123456"
